@import '@/shared/styles/mixins';
@import '@/shared/styles/variables';

.filtersContent {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-height: calc(100vh - 375px);
	padding-right: 12px;
	margin-top: 20px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--accent-color) #ffffff;
	&::-webkit-scrollbar {
		width: 5px;
	}
	@media (max-width: $desktop-sm) {
		right: 16px;
		top: 189px;
		max-width: 550px;
		max-height: calc(100vh - 358px);
	}
	@media (max-width: $tab) {
		max-height: calc(100vh - 388px);
	}
	.filterRow {
		display: flex;
		flex-direction: column;
		gap: 8px;
		align-items: flex-start;
		p {
			@include text-m;
		}
		input {
			margin: 0;
		}
		.inputList {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
		}
		.inputGrid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 8px;
		}
	}
}
