@import './mixins';
@import './variables';

#root {
	overflow: hidden;
}
#map {
	.ymaps-2-1-79-controls__control {
		@media (max-width: $desktop-sm) {
			inset: 71px auto auto 73px !important;
		}
		@media (max-width: $tab) {
			inset: 57px auto auto 60px !important;
		}
		@media (max-width: $tab-sm) {
			display: none;
		}
	}
	.ymaps-2-1-79-default-cluster {
		ymaps {
			color: var(--white-color);
		}
	}
	.ymaps-2-1-79-gotoymaps,
	// .ymaps-2-1-79-copyright,
	// .ymaps-2-1-79-float-button,
	// .ymaps-2-1-79-controls__control_toolbar,
	.ymaps-2-1-79-gototaxi,
	.ymaps-2-1-79-gototech {
		display: none !important;
	}
	.ymaps-2-1-79-image {
		background-repeat: no-repeat !important;
	}
	.ymaps-2-1-79-controls__bottom {
		.ymaps-2-1-79-controls__control {
			@media (max-width: $desktop-sm) {
				inset: auto auto 110px 16px !important;
			}
			@media (max-width: $tab) {
				inset: auto auto 94px 16px !important;
			}
			@media (max-width: $tab-sm) {
				inset: auto auto 16px 56px !important;
				display: flex !important;
			}
			@media (max-width: $tab-sm) {
				min-width: 36px !important;
				min-height: 36px !important;
				max-width: 36px !important;
				max-height: 36px !important;
			}
		}
	}
	.ymaps-2-1-79-float-button {
		min-width: 40px !important;
		min-height: 40px !important;
		max-width: 40px !important;
		max-height: 40px !important;
		position: absolute !important;
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		border-radius: var(--radius-s) !important;
		box-shadow: var(--shadow) !important;
		top: 0 !important;
		@media (max-width: $tab) {
			min-width: 36px !important;
			min-height: 36px !important;
			max-width: 36px !important;
			max-height: 36px !important;
		}
	}
	.ymaps-2-1-79-_checked {
		background: var(--white-color) !important;
		border: 1px solid var(--accent-color) !important;
	}
	.ymaps-2-1-79-scaleline {
		margin-top: 8px;
		@media (max-width: $tab) {
			margin-top: 4px;
		}
	}
	.ymaps-2-1-79-float-button-icon_icon_ruler {
		background-image: url('/images/icons/line.svg') !important;
		width: 100% !important;
		height: 100% !important;
		border: none !important;
		@media (max-width: $tab) {
			background-image: url('/images/icons/line-mob.svg') !important;
		}
	}
	.custom-geolocation-button {
		background-image: url('/images/icons/geo.svg') !important;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: var(--radius-s) !important;
		background-color: var(--white-color) !important;
		box-shadow: var(--shadow) !important;

		cursor: pointer;
		min-width: 41px !important;
		min-height: 41px !important;
		max-width: 41px !important;
		max-height: 41px !important;
		border: none !important;
		@media (max-width: $tab) {
			background-image: url('/images/icons/geo-mob.svg') !important;
			min-width: 36px !important;
			min-height: 36px !important;
			max-width: 36px !important;
			max-height: 36px !important;
		}
		// @media (max-width: $tab-sm) {
		// 	min-width: 32px !important;
		// 	min-height: 32px !important;
		// 	max-width: 32px !important;
		// 	max-height: 32px !important;
		// }
	}
	.ymaps3x0--controls {
		height: fit-content !important;
		position: absolute !important;
		top: auto !important;
		bottom: 24px !important;
		left: 13px !important;
	}
}
#print_map {
	.ymaps-2-1-79-controls__control {
		inset: 12px auto auto 47px !important;
	}
	.ymaps-2-1-79-gotoymaps,
	// .ymaps-2-1-79-copyright,
	// .ymaps-2-1-79-float-button,
	// .ymaps-2-1-79-controls__control_toolbar,
	.ymaps-2-1-79-gototaxi,
	.ymaps-2-1-79-gototech {
		display: none !important;
	}

	.ymaps-2-1-79-_checked {
		background: var(--white-color) !important;
		border: 1px solid var(--accent-color) !important;
	}
	.ymaps-2-1-79-scaleline {
		margin-top: 8px;
		@media (max-width: $tab) {
			margin-top: 4px;
		}
	}

	.ymaps3x0--controls {
		height: fit-content !important;
		position: absolute !important;
		top: auto !important;
		bottom: 24px !important;
		left: 13px !important;
	}
}
body {
	overflow: hidden;
}

h5 {
	@include h5;
}
.clusterer-change {
	padding: 16px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.clusterer-change__section {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	gap: 10px;
	height: 48px;
}

.clusterer-change__buttons {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.clusterer-change__input__label {
	font-size: 14px;
}

.clusterer-change__input {
	max-width: 60px;
	height: 32px;
	font-size: 16px;
	text-align: center;
	border: none;
	border-radius: 8px;
	background: rgba(92, 94, 102, 0.06);
	font-size: 16px;
	outline: none;
	transition: border-color 0.2s ease;
}

.clusterer-change__btn {
	border: none;
	cursor: pointer;

	padding: 8px 12px;

	color: #050d33;
	font-size: 14px;

	background-color: rgba(92, 94, 102, 0.06);
	border-radius: 8px;
	transition: background-color 0.2s;
}

.clusterer-change__btn:hover {
	background-color: rgba(92, 94, 102, 0.06);
}

.clusterer-change__btn:active {
	background-color: rgba(92, 94, 102, 0.06);
}

.circle {
	position: relative;

	width: 40px;
	height: 40px;

	color: var(--interact-action);
	border: 2px solid rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	transform: translate(-50%, -50%);
}

.circle:hover {
	color: #2e4ce5;
	cursor: pointer;
}

.circle-content {
	position: absolute;
	top: 50%;
	left: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 90%;
	height: 90%;

	border-radius: 50%;
	background-color: currentColor;

	transform: translate3d(-50%, -50%, 0);
}

.circle-text {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #fff;
}

.pin {
	transform: translate(-50%, -100%);
}

.divider {
	width: 100%;
	border: none;
	border-top: 1px solid rgba(92, 94, 102, 0.1);
	margin: 8px 0;
}

.route-loader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 100;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(15px);
	.route-loader-content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 50px;
		p {
			@include h5;
		}
	}
}
